{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<main class="mainHome">
<section class="container d-flex justify-content-center">
    <div class="TravelHome d-flex rounded-circle p-5 align-items-center opacity-75 justify-content-center position-relative" alt="Travel_shaker" style="background-image: url( 'https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg' );
            min-height: 40vh;
            min-width: 40vh;">
        <h1 class="position-absolute display-1 text-light text-center">TRAVEL SHAKER</h1>
    </div>
</section>

</main>
{% endblock %}
