<form class="form-group position-relative" method="post" action="{{ path('admin_activity_delete', {'id': activity.id}) }}" 
        onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette destination?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">
    <button class="btn btn-danger position-absolute bottom-0 end-50 border">Supprimer</button>
</form>
