{% extends 'admin/base.html.twig' %}

{% block title %}New Activity{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle activité</h1>

    {{ include('admin/activity/_form.html.twig') }}

    <a href="{{ path('admin_activity_index') }}">retour à la liste des activités</a>
{% endblock %}
