{% extends 'admin/base.html.twig' %}

{% block title %}Edit Hotel{% endblock %}

{% block body %}
    <h1>Modifier l'hotel</h1>

    {{ include('admin/hotel/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('admin_hotel_index') }}">Retour à la liste des hotels</a>

    {{ include('admin/hotel/_delete_form.html.twig') }}
{% endblock %}