{% extends 'admin/base.html.twig' %}

{% block title %}New Resto{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel restaurant</h1>

    {{ include('admin/resto/_form.html.twig') }}

    <a href="{{ path('admin_resto_index') }}">retour à la liste des restaurants</a>
{% endblock %}
